VITE_SUPABASE_URL=https://uexqvcpemzlioisrzgzp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVleHF2Y3BlbXpsaW9pc3J6Z3pwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1NTg4MjUsImV4cCI6MjA3OTEzNDgyNX0.YJrRy0iWi3wWxYgDNQIepRy7drvkEjzlQczU6qRa8b8

